.checkout {  
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  font-family: 'Darker Grotesque', sans-serif;  
}

.checkoutContainer { 
  grid-column: 2 / span 10; 
  width: 800px;  
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 0;
}

.checkoutContainer form {
  width: 100%;  
}

.checkoutContainer .form-group {
  width: 100%;   
  display: flex;
  border-bottom: 1px solid var(--main-border);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.checkoutContainer h2, .checkoutContainer input, .checkoutContainer label {
  font-family: 'Darker Grotesque', sans-serif; 
}

.checkoutContainer label {
  width: 30%;  
}

.checkoutContainer input {
  width: 70%;
  background-color: transparent;  
  border: none;
}

.checkoutContainer input:focus {
  width: 70%;
  background-color: transparent; 
  outline: none;  
}

.checkoutContainer button {
  font-family: 'Darker Grotesque', sans-serif;
  display: block;
  width: 30%;  
  margin: 0 auto; 
}

#mercadopago {
  font-family: 'Darker Grotesque', sans-serif;
  display: block;
  width: 30%;  
  margin: 0 auto; 
}


/* Mercado Pago Btn */
.mercadopago-button {
  border: 1px solid var(--main-border) !important;
  border: transparent !important;
  border-radius: 0 !important;
  background-color: var(--second-color) !important;
  color: var(--main-bg) !important;  
  font-family: 'Darker Grotesque', sans-serif !important;
  font-weight: 800 !important;;  
  padding: 0.5rem 1rem !important;
  width: 100% !important;
  height: auto !important;
  margin-top: 1rem !important;
}

/* Media Queries */

@media screen and (max-width: 991px) {
  .checkoutContainer {     
    width: 80%;     
  }  
}


@media screen and (max-width: 575px) {
  .checkoutContainer label {
    display: none;  
  }

  .checkoutContainer input {
    width: 100%;    
  }

  .checkoutContainer button {    
    width: 6rem;       
  }
}